.panel
  .header
    padding: 16px
    border-bottom: solid 2px #e3e3e3

  .header:hover
    background-color: #e3e3e3

  .content
    padding: 16px 
    background-color: #232323
    color: #e3e3e3

  .closed
    display: none