@import '../../variables.sass'

#map-editor
  display: grid
  background-color: $dark
  grid-template-columns: 400px auto
  grid-template-rows: 100vh
  overflow: hidden

  #bramble-pane
    background-color: #121212
    display: flex

    #bramble-view
      display: flex
      margin: 0 auto
      flex-direction: column
      justify-content: center
      align-items: center
